
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    /*font-weight: 600;*/
    min-height: 200vh;
    margin-bottom: 60px;
    position: relative;
}

.full-height {
    height: 100vh;
}

.flex-center {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    margin: auto;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    margin-top: 80px;
    text-align: center;
}

.title {
    font-size: 54px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.matrix-form > input{
    text-align: center;
    font-weight: 600;
}

footer{
    position: fixed;
    bottom:0;
    z-index:10;
    width: 100%;
    background-color: #dff0d8;
    /*height: 60px;*/
    padding: 20px;
}